<h1>id: <%= @contact.id %> のメッセージ編集ページ</h1>

<%= form_with(model: @contact, local: true) do |f| %>
  <li>
    <%= f.label :content, 'メッセージ' %>
    <%= f.text_field :content %>
  </li>
  <li>
    <%= f.label :name, '氏名' %>
    <%= f.text_field :name %>
  </li>
  
  <li>
    <%= f.label :ruby, 'フリガナ' %>
    <%= f.text_field :ruby %>
  </li>
  
  <li>
    <%= f.label :phone_number, '電話番号' %>
    <%= f.text_field :phone_number %>
  </li>
  
  <li>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email %>
  </li>
  
  <li>
    <%= f.label :age, '年齢' %>
    <%= f.text_field :age %>
  </li>
  
  <li>
    <%= f.label :blood, '血液型' %>
    <%= f.text_field :blood %>
  </li>
  
  <li>
    <%= f.label :gender, '性別' %>
    <%= f.text_field :gender %>
  </li>
  
  <li>
    <%= f.label :payment, '支払い' %>
    <%= f.text_field :payment %>
  </li>
  
  <li>
    <%= f.label :contact, '質問内容' %>
    <%= f.text_field :contact %>
  </li>
  
  <li>
    <%= f.label :confirm_email1, 'email@前' %>
    <%= f.text_field :confirm_email1 %>
  </li>
  
  <li>
    <%= f.label :confirm_email2, 'email@後' %>
    <%= f.text_field :confirm_email2 %>
  </li>
  

  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', contacts_path %>
