<!DOCTYPE html>
<html>
  <head>
    <title>NewChouchouRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

      <div class="container">
        <%= render 'layouts/flash_contacts' %>
        <%= link_to '新規メッセージの投稿', new_contact_path %>
        <%= link_to 'メッセージ一覧', contacts_path %>
  
        <%= yield %>
      </div>
    </nav>
  </body>
</html>

